/*

Colors

#583E7F
#DEC9FF
#B07CFF
#6F647F
#8D63CC
*/

/*pricing page*/

a:link {
  color: #002859;
  text-decoration: none;
}
a:visited {
  color: #002859;
  text-decoration: none;
}
a:hover {
  color: #0edbb0;
  text-decoration: none;
}
a:active {
  color: #f8f6f7;
  text-decoration: none;
}

#header {
  font-size:30px; 
  position:fixed; 
  top:0px; left:0px; 
  background-color: #f8f6f7; 
  width:100%;
}

#logo {
  left:20px;
}

#featuresLink {
  position:fixed;
  top:11px; right:50px;
  width: auto;
  padding-left: 0.5%;
  padding-right: 0.5%;
  background-color: #0edbb0;
  border-radius: 10px;
}

#pricingLink {
  position:fixed;
  top:11px; right:200px;
  width: auto;
  padding-left: 0.5%;
  padding-right: 0.5%;
  background-color: #0edbb0;
  border-radius: 10px;
}

#contactLink {
  position:fixed;
  top:11px; right:335px;
  width: auto;
  padding-left: 0.5%;
  padding-right: 0.5%;
  background-color: #0edbb0;
  border-radius: 10px;
}

#subscription { 
  margin-left: auto; 
  margin-right: auto; 
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  color: #f8f6f7;
  background-color: #002859;
}

#caption {
  padding-top: 100px;
  padding-bottom: 10px; 
  font-size: 120px; 
  text-align: center;
}

#subOptions{
  font-size: 70px;
}

#submit{
  color:#f8f6f7;
  text-align: center;
  border: 1px solid black;
  margin-top:20px;
  background-color:#002859;
  width:100px;
  height:50px;
  margin:10px;
}

#infobox{
  color:#f8f6f7;
  float: right;
  text-align: center;
  border: 1px solid black;
  margin-top=20px;
  background-color: #002859;
  width:600px;
  height:500px;
  margin:10px">
}

.horizontalSpacing {
  width: 250px;
}

th, td {
  padding: 20px;
}

.firstColumn {
  text-align: left;
  font-size: 20px;
}

.redtext{
  color: red;
}

.greentext {
  color: lime;
}

.yellowtext {
  color: gold;
}
body{
    font-family: 'Comfortaa'
}
